.footer {
  border-top: 8px solid var(--border-color);
  background: var(--bg-nav);
  color: var(--text);
  width: 100%;
  min-height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* .footer div.container {
  display: flex;
  align-items: center;
} */

.footer p {
  margin: 0;
}

