.footer {
  border-top: 8px solid #4aaaa5;
  background-color: #666;
  color: #fff;
  width: 100%;
  min-height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* .footer div.container {
  display: flex;
  align-items: center;
} */

.footer p {
  margin: 0;
}

.footer a:link,
.footer a:visited {
  color: #fff;
}

.footer a:hover {
  color: #ddd;
  text-decoration: none;
}
